{{#isBodyParam}}{{#useJakartaEe}}{{#interfaceOnly}}@Parameter(name = "{{baseName}}"{{#required}}, required = true{{/required}}{{#description}}, description = "{{{description}}}"{{/description}}){{/interfaceOnly}}{{/useJakartaEe}}{{#useBeanValidation}} @Valid {{#required}}{{^isNullable}}@NotNull {{/isNullable}}{{/required}}{{/useBeanValidation}} {{{dataType}}} {{paramName}}{{/isBodyParam}}
