{{#isHeaderParam}}@HeaderParam("{{baseName}}"){{#useJakartaEe}}{{#interfaceOnly}} @Parameter(name = "{{baseName}}"{{#required}}, required = true{{/required}}{{#description}}, description = "{{{description}}}"{{/description}}){{/interfaceOnly}}{{/useJakartaEe}}{{#useBeanValidation}}{{>beanValidationHeaderParams}}{{/useBeanValidation}} {{#defaultValue}} @DefaultValue("{{{.}}}"){{/defaultValue}} {{{dataType}}} {{paramName}}{{/isHeaderParam}}
