{{#isQueryParam}}@QueryParam("{{baseName}}"){{#useJakartaEe}}{{#interfaceOnly}} @Parameter(name = "{{baseName}}"{{#required}}, required = true{{/required}}{{#description}}, description = "{{{description}}}"{{/description}}){{/interfaceOnly}}{{/useJakartaEe}}{{#useBeanValidation}}{{>beanValidationQueryParams}}{{/useBeanValidation}}{{^isContainer}}{{#defaultValue}} @DefaultValue("{{{.}}}"){{/defaultValue}}{{/isContainer}}  {{{dataType}}} {{paramName}}{{/isQueryParam}}
