{{#isFormParam}}{{^isFile}}{{#required}}{{#useBeanValidation}}@NotNull {{/useBeanValidation}}{{/required}}@org.jboss.resteasy.reactive.RestForm("{{baseName}}")  {{{dataType}}} {{paramName}}{{/isFile}}{{#isFile}} {{#required}}{{#useBeanValidation}}@NotNull {{/useBeanValidation}}{{/required}}@org.jboss.resteasy.reactive.RestForm("{{baseName}}") File {{paramName}}Detail{{/isFile}}{{/isFormParam}}
